@media screen and (max-width: 700px) {
	.first{
		width: 80%;
	}
	.first p{
		font-size: 18px;
	}
	
	#saveresume {
    	min-width: 90%;
    	max-height: 80%;
		transform: translate(-50%,-55%);
	}
	#saveresume h2{
		font-size: 18px;
	}
	
	#saveresume p{
		font-size: 12px;
	}
	#Down_switch,#Up_switch{
    	font-size: 14px;
    	padding: 2px;
	}

	.btn{
		font-size: 12px;
		padding: 5px 10px;
	}
	@keyframes downswitch {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.01), 0 0 0 8px rgba(255, 255, 255, 0.1);
    }
    100% {
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1), 0 0 0 13px rgba(255, 255, 255, 0);
    }
}

@keyframes upswitch {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.01), 0 0 0 8px rgba(0, 0, 0, 0.1);
    }
    100% {
        box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), 0 0 0 13px rgba(0, 0, 0, 0);
    }
}
	
	/*静态简历部分*/
	#Fix_top{
		width: 105%;
		height: 50px;
	}
	#Fix_top>div span{
		font-size: 25px;
		letter-spacing: 10px;
	}
	
	.fixNav span{
		width: 20px;
		height: 20px;
	}
	
	/*每个单独模块*/
	.leftConWrapper,
	.rightConWrapper {
		display: flex;
		align-items: center;
		box-sizing: border-box;
		padding: 5px;
		text-align: center;
	}
	.leftConWrapper .contentWrapper{
		width: 100%;
	}
	.contentWrapper .title{
		margin-bottom: 10px;
		font-size: 20px;
	}
	.contentWrapper .content{
		width: 100%;
		text-align: center;
	}
	.contentWrapper .Head_port_wrp{
		width: 100%;
		text-align: center;
		float: none;
	}
	.Head_port_wrp img{
		width: 50%;
	}
	.contentWrapper .text_con{
		text-align: left;
		margin-left: 5%;
		width: 85%;
	}
	.text_con p{
		line-height: 1.8em;
		font-size: 14px;
		font-weight: 400;
	}

}