/*说明：生活记录样式表
*时间：2018-10-17
*/


/*通用样式*/

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #ddd;
}


/*进入时的特效样式*/

.indexAnimate {
    height: 100%;
    background: rgb(22, 22, 22);
    overflow: hidden;
}

.indexWrapper {
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

.indexWrapper>div {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: left;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -mox-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.first h2,
.first p {
    text-align: left;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
}


/*自我简介*/

#saveresume {
    display: none;
}


/*顶部固定模块样式*/

#Fix_top {
    display: inline-block;
    position: fixed;
    left: 50%;
    width: 320px;
    transform: translate(-50%, 0px);
    z-index: 1000;
    color: #fff;
    height: 70px;
    text-align: center;
    font-size: 0;
}

#Fix_top>div {
    position: relative;
    height: 100%;
    display: inline-block;
    width: 49%;
    font-size: 20px;
}

#Fix_top>div span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}

.topLeft-Wrapper {
    background: #fff;
    color: #000;
}

.topRight-Wrapper {
    background: #000;
    color: #fff;
}


/*主体内容样式*/

.main-Content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #aaa;
    font-size: 0;
    text-align: center;
}


/*中间导航样式*/

.fixNav {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 60%;
    width: 80px;
    text-align: center;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -mox-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
    justify-content: center;
}

.LinkBtn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 8px;
    transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
}

.LinkBtn:hover,
.LinkBtn_active {
    cursor: pointer;
    box-shadow: 0 0 3px #000;
    transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -webkit-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
}


/*外包包含框*/

.LeftWrapper,
.RightWrapper {
    display: inline-block;
    width: 50%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    align-items: center;
    position: relative;
}


/*左右边主体内容*/

.MainLeft,
.MainRight {
    position: absolute;
    width: 100%;
    min-height: 100%;
}

.MainLeft {
    background: #888;
    top: 0;
}

.MainRight {
    background: #777;
    bottom: 0;
}


/*每个模块的演示*/

.leftConWrapper,
.rightConWrapper {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    text-align: center;
}


/*个人简历样式*/

#saveresume {
    min-width: 40%;
    max-width: 50%;
    height: auto;
    max-height: 80%;
    overflow-y: auto;
    border: 1px solid #eee;
}

pre {
    display: block;
    overflow: auto;
    padding: 5px 10px;
    whitewhite-space: pre-wrap;
    /* css-3 */
    whitewhite-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    whitewhite-space: -pre-wrap;
    /* Opera 4-6 */
    whitewhite-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    white-space: pre-wrap;
    /* Firefox */
}

#saveresume p {
    font-size: 18px;
    text-indent: 2em;
    line-height: 1.5em;
    max-width: 100%;
    color: #ccc;
    word-wrap: break-word;
    word-break: break-all;
}

#saveresume p span {
    color: red;
}

#saveresume h2 {
    line-height: 1.4em;
    font-size: 24px;
    margin-top: 5px;
    color: rgb(230, 201, 190);
    border-bottom: 2px solid rgb(230, 201, 190);
    margin-bottom: 5px;
    margin-top: 10px;
}


/*按钮效果动画*/

#Down_switch {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 93%;
    border: 1px solid #aaa;
    font-size: 18px;
    padding: 3px;
    cursor: pointer;
    display: none;
    animation: downswitch 2s linear infinite;
}

#Up_switch {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 10%;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    animation: upswitch 2s linear infinite;
}

@keyframes downswitch {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.01), 0 0 0 15px rgba(255, 255, 255, 0.1);
    }
    100% {
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.1), 0 0 0 25px rgba(255, 255, 255, 0);
    }
}

@keyframes upswitch {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.01), 0 0 0 15px rgba(0, 0, 0, 0.1);
    }
    100% {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.1), 0 0 0 25px rgba(0, 0, 0, 0);
    }
}

.btn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #222;
    padding: 10px 30px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #78c7d2;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}