html,
body {
    background: rgb(25, 25, 25);
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

a {
    color: rgb(100, 100, 100);
    text-decoration: none;
}

a,
span {
    cursor: pointer;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
}

a:hover,
span:hover {
    color: rgb(255, 255, 255);
}

#title {
    color: #888;
    text-align: left;
    position: absolute;
    font-size: 40px;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 60px;
}

#title div {
    float: left;
}

#return {
    display: inline-block;
    height: 50px;
    width: 50px;
}

#return img {
    height: 100%;
}

.mygame_content {
    width: 60%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate( -50%, 0);
    padding-bottom: 20px;
}

.game_models {
    float: left;
    display: inline-block;
    width: 200px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow-y: hidden;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.game_models:hover {
    background: #333;
    transition: 0.5s;
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    /* IE 9 */
    -moz-transform: scale(1.1);
    /* Firefox */
    -webkit-transform: scale(1.1);
    /* Safari 和 Chrome */
    -o-transform: scale(1.1);
}

.work_name {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    height: 30px;
    color: #eee;
    border-bottom: 1px solid #ccc;
}
.work_name .logo{
	height: 80%;
	position: relative;
	top: 5px;
	border-radius: 50%;
}
.work_name .logo:hover{
	background: rgb(255,248,140);
}

.describe {
    color: #aaa;
    font-size: 14px;
    text-align: left;
    text-indent: 2em;
    padding: 0px 5px;
    margin: 5px
}

.category_model {
    display: inherit;
    color: aliceblue;
    text-align: left;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.category_model .title_wraper {
    font-size: 25px;
    line-height: 25px;
    padding: 5px;
    display: inline-block;
    position: relative;
}

.category_model .desc {
    color: #aaa;
    margin-left: 1em;
    font-size: 13px;
}

.category_model .title_wraper .circle {
    display: inline-block;
    position: absolute;
    height: 10px;
    width: 10px;
    background: #fff;
    left: -8px;
    bottom: -16px;
    border-radius: 50%;
}

.noContent {
    font-size: 22px;
    color: #aaa;
}