html,
body {
    background: rgb(25, 25, 25);
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

a {
    color: rgb(100, 100, 100);
    text-decoration: none;
}

a,
span {
    cursor: pointer;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
}

a:hover,
span:hover {
    color: rgb(255, 255, 255);
}

#title {
    color: #888;
    text-align: left;
    position: absolute;
    font-size: 40px;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 60px;
}

#title div {
    float: left;
}

#return {
    display: inline-block;
    height: 50px;
    width: 50px;
}

#return img {
    height: 100%;
}

.mygame_content {
    width: 992px;
    height: 500px;
    position: absolute;
    top: calc(50% - 30vmin);
    left: calc(50% - 446px);
}

.game_models {
    float: left;
    display: inline-block;
    width: 200px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow-y: hidden;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.game_models:hover {
    background: #333;
    transition: 0.5s;
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    /* IE 9 */
    -moz-transform: scale(1.1);
    /* Firefox */
    -webkit-transform: scale(1.1);
    /* Safari 和 Chrome */
    -o-transform: scale(1.1);
}

.work_name {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    height: 30px;
    color: #eee;
    border-bottom: 1px solid #ccc;
}

.describe {
    color: #aaa;
    font-size: 16px;
    text-align: left;
    text-indent: 2em;
    padding: 0px 5px;
}